body{
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.node {
    cursor: pointer;
    border-radius: 4px;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 4px;
}
.node text {
    font: 10px sans-serif;
    font-style:italic;
    font-weight: bold;
    color: white;

}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

svg{
	width: 100%;
	
}

.imgcontainer img{
  /* margin-top: 100px;*/
}